
@*@using TurboRango.Web.Controllers;*@
@{
    ViewBag.Title = "Index";
    //ViewBag.QtdRestaurantes += 1;
}

<h2>Index</h2>

@*<h3>@ViewBag.QtdRestaurantes</h3>*@
<h3>@ViewBag.QtdRestaurantes</h3>



<script>
    @Scripts.Render("~/bundles/haversine");

    var qtdRestaurantes = @ViewBag.QtdRestaurantes;

    $.get('@Url.Action("Restaurantes","Restaurantes")')
        .done(function(response){
            response.restaurantes.forEach(function(r){
                console.log(r.localizacao);
            });
        });
</script>